<div id='map'></div>

<style>
#map {
  height: 200px;
  width: 400px;
}
</style>


<script>
let map
let geocoder

function initMap(){
  console.log('called initMap()');
  geocoder = new google.maps.Geocoder();
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 80.7828, lng:-73.9653},
    zoom: 12,
  });
  codeAddress();
}

//GoogleMapにピン表示を行う関数
function codeAddress(){
  geocoder.geocode( { 'address': gon.location}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      getNearStation(results[0].geometry.location.lng(), results[0].geometry.location.lat());
    } else {
      console.log('位置取得失敗');
      //位置が取得できない場合はスクリーンオーバーレイでその旨の情報表示を行う
      //var screenXY = new GScreenPoint(10, 10);
      //var overlayXY = new GScreenPoint(0, 0);
      //var size = new GScreenSize(100, 100);
      //var soverlay = new GScreenOverlay("/app/assets/images/error_no_location.png", screenXY, overlayXY, size);
      //map.addOverlay(soverlay);
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
  
}

//近隣の駅情報を取得する関数
function getNearStation(lng, lat) {
 heartrailsURL = "http://express.heartrails.com/api/json?method=getStations&";
 heartrailsURL += "x=" + lng + "&";
 heartrailsURL += "y=" + lat + "&";
 heartrailsURL += "jsonp=getStation";//JSONPのコールバック関数
 var script = document.createElement('script');
 script.src = heartrailsURL;
 document.body.appendChild(script);
}
 
//コールバック関数
function getStation(result) {
 var resultStr = "最寄り駅\n";
 for(i = 0; i < result["response"]["station"].length; i++) {
  resultStr += result["response"]["station"][i].line + " ";
  resultStr += result["response"]["station"][i].name;
  resultStr += "駅：" + result["response"]["station"][i].distance + "\n";
 }
 alert(resultStr);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-pdPtNhTY07UJjxYiQsd84moJ5ep2aJ8&callback=initMap" async defer></script>
