<div class="event-list">
    <center>
        <div id="event_top">
            <h2>OLD EVENTS</h2>
        </div>
        <!-- すべてのイベントの中から現在のユーザが作成したものを表示する -->
            <% Event.all.order(start_time: "DESC").each do |event| %>
                <% if (current_user.id == event.user_id) && (event_finished?(event)) %>
                    <%= render partial: 'event_list', locals: {event: event} %>
                <% end %>
            <% end %>
        <hr>
        <%= link_to "最近の予定を見る", '/pages/show' %>
        <br>
        <%= link_to "新しい予定を作成する", '/events/new' %>
    </center>
</div>