// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_error_message{
    font-weight: bold;
    color: #FF0000;;/*文字色*/
    background: #FFF;
    border: solid 2px #FF0000;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 200px;
}

.form-calendar{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.1fr 0.3fr;
    grid-template-rows: 1fr 1fr;
}

.form-calendar-title{
    grid-column-start: 1;
    grid-column-end: -1;
}

#event_abstract{
    width: 400px;
}

#event_start_time_date{
    width: 120px;
}

#event_start_time_hour{
    width: 60px;
}

#event_start_time_minute{
    width: 60px;
}

#event_end_time_date{
    width: 120px;
}

#event_end_time_hour{
    width: 60px;
}

#event_end_time_minute{
    width: 60px;
}