// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.log-form{
    @extend .common-form;
    position: absolute;
    top: 120px;
    width: 30%;
    min-width: 320px;
    max-width: 475px;
}

.user-search{
    @extend .event-common;
    width: 100%;
}

.event-new {
    @extend .event-common;
    width: 100%;
}

.event-edit{
    @extend .event-common;
    width: 100%;
}

.event-list{
    @extend .event-common;
    width: 60%;
    a{
      margin-right: 0px;
    }
}

.event-list-old{
    @extend .event-common;
    width: 60%;
}

.event-info{
    @extend .event-common;
    width: 100%;
}

.user-edit{
    @extend .event-common;
    width: 100%;
}

.event-common{
    @extend .common-form;
    position: absolute;
    left: 10%;
    top: 80px;
    min-width: 320px;
    max-width: 1000px;
}

.friend-list{
    @extend .common-form;
    position: absolute;
    left: 75%;
    top: 80px;
    width: 300px;
}


$grey:#2a2a2a;
$blue:#1fb5bf;
.common-form {
  background: #fff;
  opacity: 0.9;
  
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  
  //-webkit-transform: translate(-50%,-50%);
  //-moz-transform: translate(-50%,-50%);
  //-o-transform: translate(-50%,-50%);
  //-ms-transform: translate(-50%,-50%);
  //transform: translate(-50%,-50%);
  form {
    display: block;
    width: 100%;
    padding: 1em;
  }
  
  h2 {
    width: 100%;
    color: lighten($grey, 70%);
    font-family: 'open sans condensed';
    font-size: 1.35em;
    letter-spacing: 3px;
    display: block;
    background:$grey;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken($grey, 5%);
    text-shadow: 0px 1px 1px darken($grey, 5%);
    margin: 0;
    font-weight: 200;
  }
  
  input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #333333;
    &:focus {
      outline: none;
    }
  }
  
  .btn {
    display: inline-block;
    background: $blue;
    border: 1px solid darken($blue, 5%);
    padding: .5em 2em;
    color: white;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
    &:hover {
      background: lighten($blue, 5%);
    }
    &:active {
      background: $blue; 
      box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
    }
    &:focus {
      outline: none;
    }
  }
  
  .forgot {
    color: lighten($blue, 10%);
    line-height: .5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: .75em;
    margin:0;
    padding: 0;
    float: right;
    
    &:hover {
      color:darken($blue, 5%);
    }
    &:active{ 
    }
  }
  
}

#search{
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #000000;
  width: 200px;
  height: 30px;
  margin-bottom: 2em;
  padding: .5em 0;
  
}

@media screen and (max-width: $media_max_width) {

  .log-form{
    position: relative;
    top: 0px;
    width: $media_max_width - 80px;
    min-width: $media_max_width - 160px;
    max-width: $media_max_width - 160px;
  }

  .event-list{
    position: relative;
    left: 0%;
    top: 120px;
    min-width: 320px;
    max-width: 1000px;
    width: 100vw;
    height: auto;
  }

  .friend-list{
    position: relative;
    left: 0%;
    top: auto;
    width: 100vw;
    height: auto;
  }
  .event-list-old{
    left: 0%;
    top: auto;
    width: 100vw;
    height: auto;
}

  .page-container {
    display: grid;
    gap: 160px;
  }

  .event-info{
    left: 0%;
    width: 100vw;
    height: auto;
  }

  .user-edit{
    left: 0%;
    width: 100vw;
    height: auto;
    }
    
  .user-search{
    left: 0%;
    width: 100vw;
    height: auto;
  }
  
  .event-new {
    left: 0%;
    width: 100vw;
    height: auto;
  }
  
  .event-edit{
    left: 0%;
    width: 100vw;
    height: auto;
  }
  
}

