.simple_calendar{
    font-size: 6px;
}

// 土曜日の背景色
.wday-6{
    background-color: rgb(219, 238, 255);
}
// 日曜日の背景色
.wday-0{
    background-color: rgb(255, 209, 209);
}

.tooltip1{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip1 wday-0{
    margin:0;
    padding:0;
}

.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.description1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
}

.tooltip1:hover .description1{
    display: inline-block;
    top: -70px;
    left: -30px;
}
