<%= image_tag('edit.png') %>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SETTINGS<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href=<%= edit_user_registration_path %>>EDIT PROFILE</a></li>
        <li role="separator" class="divider"></li>
        <% if locale == :en %>
        <%= link_to('言語設定を日本語に変更', users_lang_path(lang: 'japanise')) %>
        <% else %>
        <%= link_to('Change To English', users_lang_path(lang: 'english')) %>
        <% end %>
    </ul>
</li>